[submodule ".vim/bundle/vim-sneak"]
	path = .vim/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
